{% extends 'base.html' %}

{% block content %}


    <h1 class="text-4xl text-success mb-4">Contact Manager</h1>
    <div id="main_view">
   
       {% include 'partials/contact-main-view.html' %}
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
      document.body.addEventListener('fail', () => {
        document.getElementById('contact_modal').showModal();
      });
    });

    document.body.addEventListener('success', () => {
      let firstContactDiv = document.querySelector('.no-contact-row');
      if (firstContactDiv) {
        firstContactDiv.remove();
      }
    });
  </script>
{% endblock %}